body {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1,5;
            max-width: 600px;
            margin-inline: auto;
        }

h1, h2 {
            color:rgb(15, 8, 147);
        }